[submodule "yinyang"]
	path = yinyang
	url = https://github.com/nicdard/yinyang.git
	branch = dev
[submodule "semantic-fusion-seeds"]
	path = semantic-fusion-seeds
	url = https://github.com/nicdard/semantic-fusion-seeds.git
    branch = fix/missclassified-seeds